body {
    background-color: rgb(165, 165, 230);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form {
    background-color: rgb(68, 68, 104);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    color: white;
    align-items: center;
}

input {
    width: 200px;
}

.password-container {
    position: relative;
    width: 200px;
}

.password-container input {
    width: 100%;
    padding-right: 30px;
}

.password-container button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}