body{
    font-family: 'Poppins', sans-serif;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    background: rgb(199, 177, 158);
    /* margin: auto; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid rgb(91, 91, 11);
    width: 30%;
}

